:root {
  --clr-dark-navy: hsl(216, 25%, 25%);
  --clr-navy: hsl(215, 27%, 32%);
  --clr-grey-navy: hsl(219, 13%, 44%);
  --clr-light-bluish: hsl(216, 47%, 78%);
  --clr-light-grey: hsl(220, 37%, 97%);
  --clr-pure-white: hsl(0, 0%, 100%);
  --clr-green: hsl(151, 70%, 50%);
  --clr-purple: hsl(277, 91%, 56%);
  --clr-red: hsl(0, 82%, 63%);
  --clr-light-purple: hsl(277, 91%, 78%);
  --clr-very-light-purple: hsl(278, 100%, 95%);
}
