@use '../util' as u;

h1 {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.78rem + 3.06vw, 4rem);
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: var(--clr-dark-navy);
}

h2 {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 0.77rem + 2.04vw, 2.25rem);
  font-weight: 500;
  line-height: 1.2;
  color: var(--clr-dark-navy);
}

p {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.7rem + 0.76vw, 1.25rem);
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}
